{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'userinfo.css' %}">
<h2 class="heading">회원정보</h2>
<div class="id">사용자 이름(ID) :
    <input type="text" id="user_id" value="{{user.username}}" disabled>
<br>
</div>

<div class="name">이름 :
    <input type="text" id="name" value="{{user.name}}" disabled>
<br>
</div>

<div class="mail">이메일 :
    <input type="email" id="email" value="{{user.email}}" disabled>
<br>
</div>

<div class="number">전화번호 :
    <input type="tel" id="phone" value="{{user.phone}}" disabled>
<br>
</div>

<div class="color">퍼스널컬러
<select id="options" disabled>
    <option value="option1">봄웜라이트</option>
    <option value="option2">봄웜트루</option>
    <option value="option3">봄웜브라이트</option>
    <option value="option4">여름쿨라이트</option>
    <option value="option5">여름쿨페일</option>
    <option value="option6">여름쿨뮤트</option>
    <option value="option7">가을웜트루</option>
    <option value="option8">가을웜뮤트</option>
    <option value="option9">가을웜딥</option>
    <option value="option10">겨울쿨브라이트</option>
    <option value="option11">겨울쿨딥</option>
    <option value="option12">겨울쿨트루</option>
</select>
</div>

<div class="lastlogin">
    마지막 로그인<br>
    날짜 : <input type="date" id="dateBox" value="{{user.last_login.date|date:'Y-m-d'}}" disabled>
    시각 : <input type="time" id="timeBox" value="{{user.last_login.time|time:'H:i'}}" disabled>
</div>

<div class="checkbox">
    <input type="checkbox" id="isMaleCheckbox" disabled> IsMale
</div>

<div class="space"></div>
{% endblock %}