<script>
    // 특수문자 입력 방지
    function characterCheck(obj){
    var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+┼<>@\#$%&\'\"\\\(\=]/gi; 
    // 허용할 특수문자는 위에서 삭제
    // 띄어쓰기도 특수문자 처리
    if( regExp.test(obj.value) ){
        alert("특수문자는 입력하실수 없습니다.");
        obj.value = obj.value.substring( 0 , obj.value.length - 1 ); // 입력한 특수문자 한자리 지움
        }
    }
</script>

<form method="post" action="{% url 'app:mycloset' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="cloth_name" onkeyup="characterCheck(this)" onkeydown="characterCheck(this)">
    <!--<input type="text" name="cloth_var" onkeyup="characterCheck(this)" onkeydown="characterCheck(this)">-->
    <select name="cloth_var">
        <option value="top">상의</option>
        <option value="pants">바지</option>
        <option value="outer">아우터</option>
        <option value="shoes">신발</option>
        <option value="accessory">악세사리</option>
    </select>
    <input type="color"name="cloth_col_1" onkeyup="characterCheck(this)" onkeydown="characterCheck(this)">
    <input type="color" name="cloth_col_2" onkeyup="characterCheck(this)" onkeydown="characterCheck(this)">
    <input type="file" name="cloth_img">
    
    <button type="submit" name="create_cloth" class="btn btn-primary">저장</button>
    <a href="{% url 'app:root' %}">홈으로</a>


    <div class="description">
        <p>1. 왼쪽부터 차례대로 옷 이름, 옷 종류, 색깔1, 색깔2 입니다<br /></p>
        <p></p>2. 내 옷에 대한 정보를 빈칸에 입력한 후 '저장' 버튼을 누르면 내 옷이 등록됩니다<br /></p>
        <p>3. 삭제하고 싶은 옷이 있으면 '삭제' 버튼을 통해 삭제하실 수 있습니다.<br /></p>
        <p>4. 수정하고 싶은 옷이 있으면 '수정' 버튼을 통해 수정하실 수 있습니다.<br /></p>
        <hr/>
    </div>

    <div class = "main">        
        {% for queryset in userdata %}
        {{ queryset.cloth_name }}<br />
        {{ queryset.cloth_var }}<br />
        {{ queryset.cloth_col_1 }}<br />
        {{ queryset.cloth_col_2 }}<br />
        <img src="{{ queryset.cloth_img.url }}"><br />

        <button type="submit" class="btn btn-primary" name="delete_cloth" value="{{ queryset.id }}">삭제</button>
        <button type="submit" class="btn btn-primary" name="update_cloth" value="{{ queryset.id }}">수정</button>
        <hr/>
    </div>
    {% endfor %}

</form>