{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <style>
    .color-box {
      width: 100px;
      height: 100px;
      border: 1px solid black;
    }
  </style>
  <script>
    function changeColor() {
      var selectedColor = document.querySelector('input[name="picked_color"]:checked').value;

      var colorBox = document.getElementById("color-box");
      colorBox.style.backgroundColor = selectedColor;
    }

    function saveColor() {
      var selectedColor = document.querySelector('input[name="picked_color"]:checked').value;

      console.log("Selected color: " + selectedColor);

      var colorBox = document.getElementById("color-box");
      colorBox.style.backgroundColor = "";

      var radioButtons = document.querySelectorAll('input[name="picked_color"]');
      radioButtons.forEach(function(radioButton) {
        radioButton.checked = false;
        radioButton.disabled = false;
      });
    }
  </script>
</head>
<body>
  <div class="color-box" id="color-box"></div>
  <form id="color-form">
    <label>
      <input type="radio" name="picked_color" value="rgb(238, 32, 5)" onchange="changeColor()"> 1
    </label>
    <label>
      <input type="radio" name="picked_color" value="rgb(143, 19, 0.884)" onchange="changeColor()"> 2
    </label>
    <label for="picked-id">선택한 퍼스널 컬러로 결정하기!</label>
    <input type="checkbox" name="picked" id="picked-id">
    <input type="button" value="다음으로" onclick="saveColor()">
  </form>
</body>
</html>
{% endblock %}