{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    h1 {
     top: 10%;
     transform: translate(+43%, -30%);
     font-size: 30px;
     font-weight: bold;
     color: black;
    }
    form {
      margin: 20px auto;
      max-width: 600px;
      text-align: center;
    }

    label {
      display: block;
      margin: 10px;
    }

    input[type="radio"] {
      display: none;
    }

    img {
      display: inline-block;
      border: 0.5px solid #ccc;
      padding: 1px;
      margin: 10px;
      width: 200px;
      height: 200px;
    }

    input[type="radio"]:checked + img {
    border: 3px solid black;
    }

</style>
<form method="get" action="{% url 'app:personal_color' %}">
    <label>
        <input type="radio" name="picked_color" >
        <img src="C:\Users\user\Desktop\qwert\1234.jpg">
    </label>

    <label>
        <input type="radio" >
        <img src="C:\Users\user\Desktop\qwert\5678.jpg">
    </label>

    <label for="picked-id">선택한 퍼스널 컬러로 결정하기!</label><input type="checkbox" name="picked" id="picked-id">
    <input type="submit" value="다음 으로">
</form>
{% endblock %}