<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>현재 상태</span>
<div style="border:1px solid black;">
    SESSION:<span></span><br>
    ID:<span></span><br>
    NI:<span></span>
    {{user}}
</div>
<ul>
    <li><a href="{% url 'app:sign_up' %}">회원가입</a></li>
    <li><a href="{% url 'app:login' %}">로그인</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'app:logout' %}">로그아웃</a></li>
    {% endif %}
</ul>
</body>
</html>