<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="post" action="{% url 'app:login' %}">
        {% csrf_token %}
        {% include "app/form_errors.html" %}
        ID:<input type="text" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}"><br>
        PW:<input type="password" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}"><br>
        <input type="submit" value="로그인">
    </form>
<a href="{% url 'app:sign_up' %}">회원가입</a>
<a href="{% url 'app:root' %}">홈으로</a>
</body>
</html>