{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <title>Mobile Coding</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <!-- 부트스트랩 css 사용 -->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <link rel="apple-touch-icon" href="경로/이미지파일명.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <style>
    </style>

</head>

<body>
    <div id="app">
        <header id="header">
            <nav class="navbar bg-white border-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'icon/logo_icon.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                        <h3 style="display:inline; font-family:SEBANG_Gothic_Bold">#My_OOTD</h3>
                    </a>
                    <div class="top_icons">
                        <div class="search_button px-1 ">
                            <a href="#">
                            <img src="{% static 'icon/search_icon.svg' %}" alt="Search" width="30" height="24" class="d-inline-block align-text-top" >   
                            </a>
                        </div>
                        <div class="notification_button px-1 position-relative">
                            <a href="#">
                            <img src="{% static 'icon/bell_icon.svg' %}" alt="Notification" width="30" height="24" class="d-inline-block align-text-top">
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div id="container">
            <div class="weather_container container-fluid my-4">
                <div class="card">
                    <img src="{% static 'image/weather.png' %}" alt="Weather" class="card-image m-1 img-thumbnail">
                </div>
            </div>
            <hr class="m-3">
            <div class="dail_code container-fluid m-3 mx-2">
                <h3 style="font-family: TheJamsil5Bold">데일리 코디</h3>
                <div class="card">
                    <img src="{% static 'image/daily_code.jpg' %}" class="card-img-top" alt="daily_code">
                    <div class="card-body row justify-content-around" style="font-family:Noto Sans KR;">
                        <a href="#" class="btn btn-secondary col mx-2" style="inline">스타일 등록하기</a>
                        <a href="#" class="btn btn-secondary col mx-2" style="inline">다시 추천하기</a>
                    </div>
                </div>
            </div>
            <hr class="m-3">
            <div class="my_closet container-fluid m-3 mx-2">
                <h3 style="font-family: TheJamsil5Bold">내 옷장</h3>
                <div class="clothes_category my-3" style="font-family:LINESeedKR-Bd; overflow-x:auto; white-space:nowrap;">
                    <button type="button" class="btn btn-light" style=>모자</button>
                    <button type="button" class="btn btn-light">아우터</button>
                    <button type="button" class="btn btn-light">상의</button>
                    <button type="button" class="btn btn-light">하의</button>
                    <button type="button" class="btn btn-light">원피스</button>
                    <button type="button" class="btn btn-light">신발</button>
                    <button type="button" class="btn btn-light">악세사리</button>
                </div>
                <div class="top_clothes row row-cols-2 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card h-100">
                        <img src="{% static 'image/tshirt1.jpg' %}" class="card-img-top" alt="top">
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100">
                        <img src="{% static 'image/tshirt2.jpg' %}" class="card-img-top" alt="top">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                        <img src="{% static 'icon/add_icon.png' %}" class="card-img-top img-thumbnail" alt="add_icon">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-3 my-2">
            <div class="my_style container-fluid m-3 mx-2 mb-5">
                <h3 style="font-family: TheJamsil5Bold">내 스타일</h3>
                <div class="my_style_list row row-cols-2 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card h-100">
                        <img src="{% static 'image/style1.jpg' %}" class="card-img-top" alt="top">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                        <img src="{% static 'image/style2.jpg' %}" class="card-img-top" alt="top">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                        <img src="{% static 'icon/add_icon.png' %}" class="card-img-top img-thumbnail" alt="add_icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer">
            <div class="py-5 bg-dark container-fluid px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
            <div class="py-4 bg-dark container-fluid"></div>
        </footer>

        <nav id="fixed_bar">
            <div class="bottom_nav_bar btn-group" style="width:100%">
                <a href="#" class="btn btn-light" style="inline; border-radius:0px">
                    <img src="{% static 'icon/home_icon.svg' %}" alt="add_icon">
                    <div style="font-family:Noto Sans KR">홈</div>
                </a>
                <a href="#" class="btn btn-light" style="inline; border-radius:0px">
                    <img src="{% static 'icon/board_icon.svg' %}" alt="add_icon">
                    <div style="font-family:Noto Sans KR">게시판</div>
                </a>
                <a href="#" class="btn btn-light" style="inline; border-radius:0px">
                    <img src="{% static 'icon/pc_icon.png' %}" alt="add_icon">
                    <div style="font-family:Noto Sans KR">컬러</div>
                </a>
                <a href="#" class="btn btn-light" style="inline; border-radius:0px">
                    <img src="{% static 'icon/closet_icon.png' %}"alt="add_icon">
                    <div style="font-family:Noto Sans KR">옷장</div>    
                </a>
                <a href="#" class="btn btn-light" style="inline; border-radius:0px">
                    <img src="{% static 'icon/my_icon.svg' %}"alt="add_icon">
                    <div style="font-family:Noto Sans KR">마이</div>    
                </a>
            </div>
        </nav>
    </div>
</body>

</html>