<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{# TODO #5 비밀번호 등 양식에 맞지않을때 경고 표시 #}
<form action="{% url 'app:sign_up' %}" method="post">
    {% csrf_token %}
    ID:{{form.username}}<br>
    PW:{{form.password1}}<br>
    PW2:{{form.password2}}<br>
    e-mail:{{form.email}}<br>
    nick:{{form.nickname}}<br>
    Gender:{{form.is_male}}<br>
    phone:{{form.phone}}<br>
    skin color:{{form.skin_color}}<br>
    <input type="submit" value="회원가입">
</form>
<a href="{% url 'app:root' %}">홈으로</a>
</body>
</html>
