<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <style>
        body{
            background-color: black;
        }
        *{
            font-family: 'Black Han Sans', sans-serif;
            font-size: 70px;
        }
        .test{
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div class="test" style="color:white;font-size:50px;margin-top: 555px;">
    <span style="font-size:100px;">나의 퍼스널 컬러에 맞는</span><br>
    <span style="font-size:100px;">오늘의 코디는?</span>
</div>
<div class="test" style="text-align:right;margin-left: 469px;margin-top: 238px;margin-right: 40px;">
    <button class="test" style="background-color:red;border-radius: 20px;background-color: #d64065;color: white;">_로그인_</button>
    <br>
    <br>
    <button class="test" style="background-color: #78c8bd;border-radius: 20px;">_회원가입_</button>
    <br>
    <br>
    <button class="test" style="background-color:#fd7b03;border-radius: 20px;">_바로 시작하기_</button>
</div>
</body>
</html>